#this database is only for testing
services:
  db:
    image: postgres:alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quiz
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"